$util-options: (
  states: (
    'primary': primary, 
    'secondary': secondary, 
    'success': success, 
    'accent': accent, 
    'secondary-accent': secondary-accent, 
    'danger': danger
  ),
  abstract-points-1: (
    '0': 0,
    '25': .25,
    '50': .50,
    '75': .75,
    '100': 1
  ),
  abstract-points-2: (
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5 
  ),
  abstract-states: (
    'all': all,
    'auto': auto,
    'none': none
  ),
  directions-1: (
    'top': top, 
    'right': right, 
    'bottom': bottom, 
    'left': left
  ),
  directions-2: (
    'start': start,
    'center': center,
    'end': end
  ),
  displays: (
    'none': none,
    'inline': inline,
    'block': block,
    'inline-block': inline-block,
    'flex': flex,
    'inline-flex': inline-flex,
    'grid': grid
  ),
  borderline-styles: (
    'solid': solid,
    'double': double,
    'dotted': dotted,
    'dashed': dashed,
    'wavy': wavy
  ),
  positions: (
    'static': static,
    'relative': relative,
    'absolute': absolute,
    'fixed': fixed,
    'sticky': sticky
  ),
  wrapping: (
    'wrap': wrap,
    'nowrap': nowrap
  ),
  breaking: (
    'normal': normal,
    'break-all': break-all,
    'keep-all': keep-all,
    'break-word': break-word
  ),
  transforms: (
    'lowercase': lowercase,
    'uppercase': uppercase,
    'capitalize': capitalize,
  ),
  boldness: (
    'lighter': lighter,
    'light': light,
    'normal': normal,
    'medium': medium,
    'semibold': semibold,
    'bold': bold,
    'bolder': bolder
  ),
  text-styles: (
    'normal': normal,
    'italic': italic
  ),
  fonts: (
    'primary': primary,
    'monospace': monospace
  ),
  text-decorations: (
    'underline': underline,
    'line-through': line-through,
    'none': none
  )
);